body {
    background-color: black;
}

.flip-card {
    background-color: aliceblue;
    width: 300px;
    height: 500px;
    border-width: 20px;
    border-style: dotted;
    border-color: blue;
    perspective: 1000px;
}

.flip-card_inner {
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card_inner {
    transform: rotateY(180deg);
}

.front,
.back {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}
.front {
    background-color: #bbb;
    color: black;
}
.back {
    background-color: dodgerblue;
    color:white ;
    transform: rotateY(180deg);
}